* {
  margin:0;
  padding: 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 'section-0'
                       'section-1'
                       'section-2'
                       'section-3';
}


html {
  font-family: Arial, Helvetica, sans-serif;
}

html::-webkit-scrollbar{
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.section-0 {
  grid-area: section-0;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 660%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.section-1{
  background-color: white;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

.insta {
  max-width: 28%;
  max-height: 28vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.facebook {
  max-width: 29%;
  max-height: 29vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.holdingFlag {
  min-width: 100%;
  min-height: auto;
  display: flex;
  flex-direction:column;
  align-items: right;
  float: right;
  padding: 20px;
}

.section-3{
  background-color: blueviolet;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
